@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif ;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: rgb(5, 148, 148);
}

.container {
    max-width: 800px;
    width: 90vw;
    background-color: black;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0.0 .3rem .2rem rgb(213, 190, 149);
}

p{
    color: #ff56e6;
    font-size: 1.2rem;
    margin-bottom: 2rem;

}

button{
    background-color: yellow;
    border: 2px solid transparent;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    border-radius: 100vw;
    cursor: pointer;
    user-select: none;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out border-color,
                200ms ease-in-out color
    ;

}

button:hover {
    border-color: #ff56e6;
    background-color:black ;
    color: #ff56e6;
}

button:active{
    transform: scale(.93);
}